In [3]:
# Setup

import pandas as pd
import numpy as np

#  Data
# Import

In [4]:
ROOT = "https://raw.githubusercontent.com/kirenz/modern-statistics/main/data/"
DATA = "loans.csv"

df = pd.read_csv(ROOT+DATA)

## Overview

In [5]:
df

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,mortgage,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,rent,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,rent,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,rent,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,rent,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,rent,108000.0,Source Verified,22.28,NaN,NaN,NaN,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,mortgage,121000.0,Verified,32.38,NaN,NaN,NaN,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,mortgage,67000.0,Verified,45.26,107000.0,Source Verified,29.57,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,mortgage,80000.0,Source Verified,11.99,NaN,NaN,NaN,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,rent,66000.0,Not Verified,20.82,NaN,NaN,NaN,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [6]:
print(f"We have {len(df.index):,} observations and {len(df.columns)} columns in our dataset.")

We have 10,000 observations and 55 columns in our dataset.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 55 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   emp_title                         9167 non-null   object
 1   emp_length                        9183 non-null   float64
 2   state                             10000 non-null  object
 3   homeownership                     10000 non-null  object
 4   annual_income                     10000 non-null  float64
 5   verified_income                   10000 non-null  object
 6   debt_to_income                    9976 non-null   float64
 7   annual_income_joint               1495 non-null   float64
 8   verification_income_joint         1455 non-null   object
 9   debt_to_income_joint              1495 non-null   float64
 10  delinq_2y                         10000 non-null  int64
 11  months_since_last_delinq          4342 non-null   float64
 12  earliest_credit_line              10000 non-null  int64
 13  inquiries_last_12m                10000 non-null  int64
 14  total_credit_lines                10000 non-null  int64
 15  open_credit_lines                 10000 non-null  int64
 16  total_credit_limit                10000 non-null  int64
 17  total_credit_utilized             10000 non-null  int64
 18  num_collections_last_12m          10000 non-null  int64
 19  num_historical_failed_to_pay      10000 non-null  int64
 20  months_since_90d_late             2285 non-null   float64
 21  current_accounts_delinq           10000 non-null  int64
 22  total_collection_amount_ever      10000 non-null  int64
 23  current_installment_accounts      10000 non-null  int64
 24  accounts_opened_24m               10000 non-null  int64
 25  months_since_last_credit_inquiry  8729 non-null   float64
 26  num_satisfactory_accounts         10000 non-null  int64
 27  num_accounts_120d_past_due        9682 non-null   float64
 28  num_accounts_30d_past_due         10000 non-null  int64
 29  num_active_debit_accounts         10000 non-null  int64
 30  total_debit_limit                 10000 non-null  int64
 31  num_total_cc_accounts             10000 non-null  int64
 32  num_open_cc_accounts              10000 non-null  int64
 33  num_cc_carrying_balance           10000 non-null  int64
 34  num_mort_accounts                 10000 non-null  int64
 35  account_never_delinq_percent      10000 non-null  float64
 36  tax_liens                         10000 non-null  int64
 37  public_record_bankrupt            10000 non-null  int64
 38  loan_purpose                      10000 non-null  object
 39  application_type                  10000 non-null  object
 40  loan_amount                       10000 non-null  int64
 41  term                              10000 non-null  int64
 42  interest_rate                     10000 non-null  float64
 43  installment                       10000 non-null  float64
 44  grade                             10000 non-null  object
 45  sub_grade                         10000 non-null  object
 46  issue_month                       10000 non-null  object
 47  loan_status                       10000 non-null  object
 48  initial_listing_status            10000 non-null  object
 49  disbursement_method               10000 non-null  object
 50  balance                           10000 non-null  float64
 51  paid_total                        10000 non-null  float64
 52  paid_principal                    10000 non-null  float64
 53  paid_interest                     10000 non-null  float64
 54  paid_late_fees                    10000 non-null  float64
dtypes: float64(17), int64(25), object(13)
memory usage: 4.2+ MB

## Data Correction

In [8]:
df['state'] = df['state'].astype('category')
df['state']

0       NJ
1       HI
2       WI
3       PA
4       CA
        ..
9995    TX
9996    PA
9997    CT
9998    WI
9999    CT
Name: state, Length: 10000, dtype: category
Categories (50, object): ['AK', 'AL', 'AR', 'AZ', ..., 'WA', 'WI', 'WV', 'WY']

In [9]:
cat_convert = ['emp_title', 'homeownership', 'verification_income_joint']

for i in cat_convert:
    df[i] = df[i].astype("category")

In [10]:
df['metric'] = df['annual_income'] / df['total_credit_limit']

## Variable lists

In [11]:
# list of all numerical data
list_num = df.select_dtypes(include=[np.number]).columns.tolist()

In [12]:
list_num

['emp_length',
 'annual_income',
 'debt_to_income',
 'annual_income_joint',
 'debt_to_income_joint',
 'delinq_2y',
 'months_since_last_delinq',
 'earliest_credit_line',
 'inquiries_last_12m',
 'total_credit_lines',
 'open_credit_lines',
 'total_credit_limit',
 'total_credit_utilized',
 'num_collections_last_12m',
 'num_historical_failed_to_pay',
 'months_since_90d_late',
 'current_accounts_delinq',
 'total_collection_amount_ever',
 'current_installment_accounts',
 'accounts_opened_24m',
 'months_since_last_credit_inquiry',
 'num_satisfactory_accounts',
 'num_accounts_120d_past_due',
 'num_accounts_30d_past_due',
 'num_active_debit_accounts',
 'total_debit_limit',
 'num_total_cc_accounts',
 'num_open_cc_accounts',
 'num_cc_carrying_balance',
 'num_mort_accounts',
 'account_never_delinq_percent',
 'tax_liens',
 'public_record_bankrupt',
 'loan_amount',
 'term',
 'interest_rate',
 'installment',
 'balance',
 'paid_total',
 'paid_principal',
 'paid_interest',
 'paid_late_fees',
 'metric']

In [13]:
# list of all categorical data
list_cat = df.select_dtypes(include=['category']).columns.tolist()

In [14]:
list_cat

['emp_title', 'state', 'homeownership', 'verification_income_joint']

## Prepare for Data Splitting

In [15]:
# define outcome variable as y_label
y_label = 'interest_rate'

# select features
features = df.drop(columns=[y_label]).columns.tolist()

# create feature data for data splitting
X = df[features]

# list of numeric features
feat_num = X.select_dtypes(include=[np.number]).columns.tolist()

# list of categorical features
feat_cat = X.select_dtypes(include=['category']).columns.tolist() 

# create response for data splitting
y = df[y_label]

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Exploration data

In [18]:
df_train = pd.DataFrame(X_train.copy()) #train_test_split-function gibt keine pandas-DataFrame zurück
df_train = df_train.join(pd.DataFrame(y_train))

df_train

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees,metric,interest_rate
9254,software developper,3.0,WA,rent,112000.0,Verified,11.20,NaN,NaN,NaN,...,Current,whole,Cash,32559.72,3493.670000,2440.28,1053.39,0.0,1.898305,12.61
1561,NaN,NaN,TX,mortgage,30000.0,Source Verified,16.52,NaN,NaN,NaN,...,Current,whole,Cash,13645.89,2106.490000,1354.11,752.38,0.0,0.616650,15.05
1670,rn,2.0,GA,mortgage,80000.0,Source Verified,17.99,NaN,NaN,NaN,...,Current,fractional,Cash,22987.54,4368.170000,3012.46,1355.71,0.0,0.413603,13.59
6087,director of it,1.0,GA,mortgage,140000.0,Source Verified,3.44,NaN,NaN,NaN,...,Current,whole,Cash,10623.12,831.750000,376.88,454.87,0.0,0.514814,15.04
6669,assistant section chief,10.0,MD,mortgage,83500.0,Source Verified,30.06,NaN,NaN,NaN,...,Fully Paid,whole,DirectPay,0.00,11237.191111,11200.00,37.19,0.0,0.163860,7.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,field service technician,10.0,NC,mortgage,59000.0,Source Verified,11.33,NaN,NaN,NaN,...,Fully Paid,whole,Cash,0.00,8170.514047,8000.00,170.51,0.0,0.383882,9.93
5191,"director, quality improvement",9.0,GA,mortgage,235000.0,Source Verified,8.83,NaN,NaN,NaN,...,Current,fractional,Cash,35192.45,6527.140000,4807.55,1719.59,0.0,0.472324,10.91
5390,food server,7.0,NV,rent,32000.0,Source Verified,8.70,NaN,NaN,NaN,...,Current,whole,Cash,11588.87,847.190000,411.13,436.06,0.0,3.404255,15.04
860,anesthesia tech,5.0,PA,mortgage,44000.0,Not Verified,20.61,NaN,NaN,NaN,...,Current,whole,Cash,11688.12,495.770000,311.88,183.89,0.0,0.256201,9.92
7270,technical training coordinator,10.0,GA,rent,87000.0,Source Verified,7.37,NaN,NaN,NaN,...,Current,whole,Cash,18550.27,1878.700000,1449.73,428.97,0.0,2.727273,9.92